@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;

}

/*****************************ESTILOS DEL HEADER**************************/

.header {
    background-color: #42413D;
    height: 120px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
    top: 0;
    transition: all 0.5s ease;
}

.header.fixed{
    position: fixed;
    top: -120px;
    z-index: 1000;
    width: 100%;
}

#search-container {
    height: 50px;
    display: flex;
    width: 100%;
    height: 100%;
}

#search-container-1 {
    height: 55px;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    display: flex;
}

#search-container-2 {
    height: 55px;
    width: 20%;
    margin-top: 1%;
    margin-right: 5%;
}

#logo {
    background-color: #FFCE2B;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}


#logo h1 {
    text-transform: uppercase;
    padding: 10px;
    font-size: 30px;
}

#logo img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 15px;
}

#search {
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#search-container-2 {
    display: flex;
    margin-left: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#search-container-2 img {
    width: 30px;
    height: 30px;

}

#calendar-1 {
    background-color: #FFCE2B;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#calendar-2 {
    background-color: #D9D9D9;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
/************************ESTILOS DE DROPDOWN**************************/

#lang{
    width: 85%;
    height: 55px;
    background-color: #c0c0c0;
    border: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#send{
    width: 10%;
    height: 55px;
    background-color: transparent;
    border: none;
    font-size: 25px;
}

#send {
    border: none;
    background: url('../Resources/images/buscarBlack.png') no-repeat center center;
    background-size: 30px 30px;
    background-color: #FFCE2B;
    color: transparent;
    border-radius: 5px;
    width: 100px;
    font-weight: bold;
    transition: all 0.4s ease;
    cursor: pointer;
}

#send:hover {
    background-color: #e9b302;
    transform: scale(1.01)
}

/************************ESTILOS DE BOTONES**************************/

#buttons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    background-color: #42413D;
    height: 95px;
    border-radius: 8px;
}

.btn {
    background-color: #c0c0c0;
    border: none;
    width: 200px;
    height: 55px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.4s ease;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn:hover {
    background-color: #e9b302;
    transform: scale(1.05);
    cursor: pointer;
}

.btn img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/********************************ESTILOS DE ENCUESTA*********************/

#table {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.encuesta {
    width: 100%;
    font-size: 25px;
    text-align: center;
    border-collapse: collapse;
    border-left: 2px solid #42413D;
    border-right: 2px solid #42413D;
}

.encuesta td {
    height: 75px;
}

.encuesta thead tr img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 10px;
}

.encuesta thead {
    background-color: #42413D;
    color: white;
}


.encuesta tbody tr {
    transition: all 0.4s ease;
}

.encuesta tbody tr:hover {
    transform: scale(1.01);
    background-color: #ffce2b13;
    color: #FFCE2B;
    cursor: pointer;
}

.encuesta thead tr th img {
    transition: all 0.4s ease;
}

.encuesta thead tr th:hover img {
    transform: rotate(360deg);
}

.encuesta input[type="radio"] {
    width: 20px;
    height: 20px;
}

.mala:checked {
    accent-color: red;
}
.regular:checked {
    accent-color: #cb6327;
}
.buena:checked {
    accent-color: green;
}
.muy_buena:checked {
    accent-color: blue;
}
.excelente:checked {
    accent-color: rebeccapurple;
}
/***********************ESTILOS DE ZONA DE PORCENTAJE*********************/
#percent-container {
    background-color: #42413D;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    height: 70px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    text-align: right;
    align-items: center;
}

#percent {
    background-color: #c0c0c0;
    height: 40px;
    border-radius: 5px;
    width: 12%;
    margin-right: 1.2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#percent-tittle {
    width: 90%;
    margin-right: 2%;
    color: #c0c0c0;
    font-size: 14px;
}